/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: crafter;
    src: url(../fonts/Crafter-Regular.woff);
}

/* grillas */
.contenedor-home{
    display: grid;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "section section section section"
    "footer footer footer footer";
    grid-template-rows: 10% 90% 230% 15%;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    column-gap: 10px;
}


header{
    grid-area: header;
    background-color: #5352EB;
    display: flex;
    justify-content: space-between;
}

header img{
    height: 100%;
    padding: 10px;
}

header a{
    color: #DBDBDB;
}

header nav{
    justify-content: center;
    padding: 30px;
}

header nav ul{
    display: flex;
    gap: 40px;
    list-style-type: none;
    font-family: montserrat;
    font-weight: 400;
}

body{
    background-color: #DBDBDB;
}

main{
    grid-area: main;
}

.banner{
    background-color: #B4C9FE;
    justify-content: center;
}

.banner h5{
    font-family: roboto mono;
    text-align: center;
    padding-top: 40px;
    font-weight:200;
    letter-spacing: 10px;
    font-size: medium;
}

.banner h1{
    font-family: crafter;
    text-align: center;
    padding-top: 5px;
    font-size: 100px;
}

.banner img{
    width: 10%;
    text-align: center;
}

.info{
    display: flex;
    background-color: #DBDBDB;
    font-family: montserrat;
    padding: 100px;
    font-size: 30px;
    justify-content: center;
    font-weight: 400;
}

section{
    grid-area: section;
}

.selva-signos{
    display: flex;
    justify-content: center;
    gap: 40px;

}

.card-1 img{
    border-radius: 20px;
    padding-bottom: 20px;
}

.card-body h5{
    font-family: crafter;
    color: #5352EB;
}

.card-body p{
    font-family: montserrat;
}

.type{
    display: flex;
    gap: 40px;
    font-family: roboto mono;
}

.type h6{
    font-size: small;
    border: 1px solid black;
    border-radius: 10px;
    padding: 4px;
}

.branding-selva{
    background-color: black;
    color: #E1F44B;
}

.card-2 img{
    border-radius: 20px;
    padding-bottom: 20px;
}

.ilustracion-signos{
    background-color: black;
    color: #E1F44B;
}

.humedales-dead{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}

.card-3 img{
    border-radius: 20px;
    padding-bottom: 20px;
}

.redes-humedales{
    background-color: black;
    color: #E1F44B;
}

.card-4 img{
    border-radius: 20px;
    padding-bottom: 20px;
}

.ilustracion-dead{
    background-color: black;
    color: #E1F44B;
}
footer{
    grid-area: footer;
    background-color: #5352EB;
    text-align: center;
    padding: 20px;
}

footer span{
    font-family: crafter;
    color: #DBDBDB;
}

.redes img{
    width: 3%;
}


